*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;

}

.container{
}

/* Heading */

.heading{
    color: #f9ca24;
    padding: 45px;
    line-height: 40px;
    text-align: center;
}

.heading h3{
    font-size: 30px;
}

.heading p{
    color: white;
}

/* Character */

.char{
    text-align: center;
    width: 100%;
    padding: 10px;
    
}

.char .items{
    float:left ;
    width: 29%;

}

.btn-items{
    margin-bottom: 20px;
}

.char .btn{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 30px;
    background-color: #282727;
    color: white;
    /* border: none; */
    border-radius: 5px;
    box-shadow: 0 10px #f9ca24;
    transition: all 0.5s;
    cursor: pointer;
}

.char .btn:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}   

.char .items img{
    height: 150px;
}

/* Alasan */

.title{
    color:#f9ca24;
    margin-bottom: 10px;
    clear: both;
}

.alasan{
    margin-bottom: 20px;
}

.input-alasan{
    width: 90%;
    margin: 0 10px;
    padding: 30px 10px;
    font-size: 14px;
}

.btn-alasan{
    margin: 10px;
    padding: 15px 30px;
    background-color: #4F5B67;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

/* Result */

.txt-result{
    resize: none;
    width: 90%;
    margin: 0 10px;
    padding: 30px 10px;
    background: transparent;
    color: white;
    border:3px dashed white;
}
